In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
from patsy import dmatrices
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.cross_validation import cross_val_score
dta=sm.datasets.fair.load_pandas().data

C:\Users\User\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
dta['affair']=(dta.affairs>0).astype(int)

In [3]:
y,x=dmatrices('affair~rate_marriage+age+yrs_married+children+\
religious+educ+C(occupation)+C(occupation_husb)',dta,return_type="dataframe")

In [4]:
x=x.rename(columns={'C(occupation)[T.2.0]':'occ_2',
                   'C(occupation)[T.3.0]':'occ_3',
                   'C(occupation)[T.4.0]':'occ_4',
                   'C(occupation)[T.5.0]':'occ_5',
                   'C(occupation)[T.6.0]':'occ_6',
                   'C(occupation_husb)[T.2.0]':'occ_husb_2',
                    'C(occupation_husb)[T.3.0]':'occ_husb_3',
                   'C(occupation_husb)[T.4.0]':'occ_husb_4',
                   'C(occupation_husb)[T.5.0]':'occ_husb_5',
                   'C(occupation_husb)[T.6.0]':'occ_husb_6',})
y=np.ravel(y)

In [5]:
x.head()

,Intercept,occ_2,occ_3,occ_4,occ_5,occ_6,occ_husb_2,occ_husb_3,occ_husb_4,occ_husb_5,occ_husb_6,rate_marriage,age,yrs_married,children,religious,educ
0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0,32.0,9.0,3.0,3.0,17.0
1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,27.0,13.0,3.0,1.0,14.0
2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0,22.0,2.5,0.0,1.0,16.0
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0,37.0,16.5,4.0,3.0,16.0
4,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5.0,27.0,9.0,1.0,1.0,14.0